Etapa dos Pinduricalhos/monitorV1
[
    {
        "id": "57776b559ea80571",
        "type": "tab",
        "label": "SoftStarter",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "e7bb67518348207a",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "b4036e4a3352c5b4",
        "type": "ui_button",
        "z": "57776b559ea80571",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "label": "Ativar",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "className": "",
        "icon": "sentiment_very_satisfied",
        "payload": "onn0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "e7bb67518348207a"
            ]
        ]
    },
    {
        "id": "0c9f0d04530e1bcb",
        "type": "ui_button",
        "z": "57776b559ea80571",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "className": "",
        "icon": "sentiment_neutral",
        "payload": "off0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "681d20ef11c3cf47"
            ]
        ]
    },
    {
        "id": "681d20ef11c3cf47",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "e1c13ba1e6ad1863",
        "type": "ui_button",
        "z": "57776b559ea80571",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 16,
        "height": 1,
        "passthru": true,
        "label": "Emergência",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "className": "",
        "icon": "sentiment_very_dissatisfied",
        "payload": "eme0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "2fafbc35e7e0726a"
            ]
        ]
    },
    {
        "id": "2fafbc35e7e0726a",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "6db56929dee5bdda",
        "type": "ui_slider",
        "z": "57776b559ea80571",
        "name": "",
        "label": "Rampa de Subida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "b81e305c56e8b3f6"
            ]
        ]
    },
    {
        "id": "25a6a6c1c8318d28",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "c178a2ba17988202",
        "type": "serial in",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "4d07a8bb02d6edfd",
                "8eebc90b4a4f38a4"
            ]
        ]
    },
    {
        "id": "3278ca0d8645cacb",
        "type": "ui_text",
        "z": "57776b559ea80571",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Operação",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "4d07a8bb02d6edfd",
        "type": "switch",
        "z": "57776b559ea80571",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "EMERG",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDD",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "0d7d16a4a0fb9217"
            ],
            [
                "73deb4ba4484a514"
            ],
            [
                "db858aac97cebb87"
            ],
            [
                "966aaf8c073c5c30"
            ],
            [
                "09e8097bae1990b1"
            ],
            [
                "79c7f508cdc00435"
            ]
        ]
    },
    {
        "id": "73deb4ba4484a514",
        "type": "change",
        "z": "57776b559ea80571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Desligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "3278ca0d8645cacb"
            ]
        ]
    },
    {
        "id": "db858aac97cebb87",
        "type": "change",
        "z": "57776b559ea80571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Modo de Emergência",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "3278ca0d8645cacb"
            ]
        ]
    },
    {
        "id": "0d7d16a4a0fb9217",
        "type": "change",
        "z": "57776b559ea80571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Operando",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "3278ca0d8645cacb"
            ]
        ]
    },
    {
        "id": "8eebc90b4a4f38a4",
        "type": "debug",
        "z": "57776b559ea80571",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "d2992fd987a612e7",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ram{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "25a6a6c1c8318d28"
            ]
        ]
    },
    {
        "id": "668b90857b4799df",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rap{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "6512cb34a63b6172"
            ]
        ]
    },
    {
        "id": "b81e305c56e8b3f6",
        "type": "switch",
        "z": "57776b559ea80571",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "d2992fd987a612e7"
            ],
            [
                "668b90857b4799df"
            ]
        ]
    },
    {
        "id": "6512cb34a63b6172",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "fde072b629a6294d",
        "type": "ui_slider",
        "z": "57776b559ea80571",
        "name": "",
        "label": "Rampa de Descida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "3c18e561694936af"
            ]
        ]
    },
    {
        "id": "79c7f508cdc00435",
        "type": "ui_text",
        "z": "57776b559ea80571",
        "group": "f9c34dde.1e2f4",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente do Motor:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "4dfc6af68e9324d4",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "0ad6480845d038c0",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rad{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "4dfc6af68e9324d4"
            ]
        ]
    },
    {
        "id": "af6b395b3f1f83bd",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rpd{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "44667acb336f0fbd"
            ]
        ]
    },
    {
        "id": "3c18e561694936af",
        "type": "switch",
        "z": "57776b559ea80571",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "0ad6480845d038c0"
            ],
            [
                "af6b395b3f1f83bd"
            ]
        ]
    },
    {
        "id": "44667acb336f0fbd",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "966aaf8c073c5c30",
        "type": "change",
        "z": "57776b559ea80571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Subida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "3278ca0d8645cacb"
            ]
        ]
    },
    {
        "id": "09e8097bae1990b1",
        "type": "change",
        "z": "57776b559ea80571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Descida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "3278ca0d8645cacb"
            ]
        ]
    },
    {
        "id": "93e399c6777f66ae",
        "type": "ui_numeric",
        "z": "57776b559ea80571",
        "name": "",
        "label": "Sobrecorrente Limite",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "400",
        "max": "875",
        "step": "10",
        "className": "",
        "x": 880,
        "y": 700,
        "wires": [
            [
                "1ca7cde1506a2562",
                "aace993721248d8b"
            ]
        ]
    },
    {
        "id": "1ca7cde1506a2562",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "scc{{payload}}0",
        "output": "str",
        "x": 1240,
        "y": 700,
        "wires": [
            [
                "d7bbea09173b6f4b"
            ]
        ]
    },
    {
        "id": "d7bbea09173b6f4b",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "2bd9240c27872dc4",
        "type": "ui_numeric",
        "z": "57776b559ea80571",
        "name": "",
        "label": "Corrente de Desligamento",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "650",
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "2088486a0ca2c77d"
            ]
        ]
    },
    {
        "id": "490d92e2acd247f2",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 1410,
        "y": 780,
        "wires": []
    },
    {
        "id": "272da9cf6de00f88",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cdm{{payload}}",
        "output": "str",
        "x": 1240,
        "y": 780,
        "wires": [
            [
                "490d92e2acd247f2"
            ]
        ]
    },
    {
        "id": "e29de3f804bea38b",
        "type": "template",
        "z": "57776b559ea80571",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cdc{{payload}}0",
        "output": "str",
        "x": 1240,
        "y": 900,
        "wires": [
            [
                "1cf9abeae855ec44"
            ]
        ]
    },
    {
        "id": "2088486a0ca2c77d",
        "type": "switch",
        "z": "57776b559ea80571",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1000",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "1000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 840,
        "wires": [
            [
                "272da9cf6de00f88"
            ],
            [
                "e29de3f804bea38b"
            ]
        ]
    },
    {
        "id": "1cf9abeae855ec44",
        "type": "serial out",
        "z": "57776b559ea80571",
        "name": "",
        "serial": "add458766f2d39dd",
        "x": 1410,
        "y": 900,
        "wires": []
    },
    {
        "id": "aace993721248d8b",
        "type": "debug",
        "z": "57776b559ea80571",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "b64815ad0fe5a715",
        "type": "ui_spacer",
        "z": "57776b559ea80571",
        "name": "spacer",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 16,
        "height": 1
    },
    {
        "id": "add458766f2d39dd",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]