Etapa do Falta Pouco Mas Bastante/softStarter_Monitor-V2
[
    {
        "id": "ab424ef4.2f2e1",
        "type": "tab",
        "label": "SoftStarter",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "44770e73.773ca",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "99295ea3.5bed2",
        "type": "ui_button",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "label": "Ativar",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "icon": "sentiment_very_satisfied",
        "payload": "onn0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "44770e73.773ca"
            ]
        ]
    },
    {
        "id": "76b99158.58a48",
        "type": "ui_button",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "icon": "sentiment_neutral",
        "payload": "off0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "d6d1e672.abeab8"
            ]
        ]
    },
    {
        "id": "d6d1e672.abeab8",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "3e80fe8a.872e22",
        "type": "ui_button",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 16,
        "height": 1,
        "passthru": true,
        "label": "Emergência",
        "tooltip": "",
        "color": "",
        "bgcolor": "#58f5ae",
        "icon": "sentiment_very_dissatisfied",
        "payload": "eme0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "3b56ad9.e5b7d52"
            ]
        ]
    },
    {
        "id": "3b56ad9.e5b7d52",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "d24f461.15d85b8",
        "type": "ui_slider",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "label": "Rampa de Subida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "830529bc.712838"
            ]
        ]
    },
    {
        "id": "dc8e33a4.62c67",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "cbc0f435.08f528",
        "type": "serial in",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "40a4dda1.c86134",
                "c317fe41.6c992"
            ]
        ]
    },
    {
        "id": "5be0e29a.007c4c",
        "type": "ui_text",
        "z": "ab424ef4.2f2e1",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Estado de Operação",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "40a4dda1.c86134",
        "type": "switch",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "EME",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDD",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "CDD",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "PDE",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mA",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "SCL",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "COP",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "d05c41c1.2175d"
            ],
            [
                "3f8a632.7530c9c"
            ],
            [
                "33dc16e1.ccbd9a"
            ],
            [
                "28a552b0.f1e4be"
            ],
            [
                "9492979d.ee8eb8"
            ],
            [
                "5fae0171.f5361"
            ],
            [
                "9eb1504b.f8bea"
            ],
            [
                "8e11b3d7.3af21"
            ],
            [
                "98bd6f3c.e3d33"
            ],
            [
                "a89d8ff4.35e54"
            ]
        ]
    },
    {
        "id": "3f8a632.7530c9c",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Desligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "33dc16e1.ccbd9a",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Modo de Emergência",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "d05c41c1.2175d",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Operando",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "c317fe41.6c992",
        "type": "debug",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8533d76.88c38",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ram{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "dc8e33a4.62c67"
            ]
        ]
    },
    {
        "id": "f6ac2d3b.db0ad",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rap{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "c3168b6d.bc53a8"
            ]
        ]
    },
    {
        "id": "830529bc.712838",
        "type": "switch",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "a8533d76.88c38"
            ],
            [
                "f6ac2d3b.db0ad"
            ]
        ]
    },
    {
        "id": "c3168b6d.bc53a8",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "a6638bcd.39aeb8",
        "type": "ui_slider",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "label": "Rampa de Descida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "25e5758.c0cf58a"
            ]
        ]
    },
    {
        "id": "8e11b3d7.3af21",
        "type": "ui_text",
        "z": "ab424ef4.2f2e1",
        "group": "f9c34dde.1e2f4",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente do Motor:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "61b09294.23cc8c",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "8a8bd8ca.ca90a8",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rad{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "61b09294.23cc8c"
            ]
        ]
    },
    {
        "id": "23344d90.fbb092",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rpd{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "72f678a7.c5ef28"
            ]
        ]
    },
    {
        "id": "25e5758.c0cf58a",
        "type": "switch",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "8a8bd8ca.ca90a8"
            ],
            [
                "23344d90.fbb092"
            ]
        ]
    },
    {
        "id": "72f678a7.c5ef28",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "28a552b0.f1e4be",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Subida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "9492979d.ee8eb8",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Descida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "f2e9589d.ca9db8",
        "type": "ui_numeric",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "label": "Sobrecorrente Limite",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "400",
        "max": "875",
        "step": "10",
        "x": 880,
        "y": 700,
        "wires": [
            [
                "53a0046c.6450cc",
                "ff791a79.842fd8"
            ]
        ]
    },
    {
        "id": "53a0046c.6450cc",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "scc{{payload}}0",
        "output": "str",
        "x": 1240,
        "y": 700,
        "wires": [
            [
                "fa4ae6b6.0d8af8"
            ]
        ]
    },
    {
        "id": "fa4ae6b6.0d8af8",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "4bd3bdc5.2643e4",
        "type": "ui_numeric",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "label": "Corrente de Desligamento",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 13,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "650",
        "max": "1000",
        "step": "10",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "c3e040bb.76c39"
            ]
        ]
    },
    {
        "id": "aaf53e37.2d85f",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 1410,
        "y": 780,
        "wires": []
    },
    {
        "id": "ee45701e.d8c13",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cdm{{payload}}",
        "output": "str",
        "x": 1240,
        "y": 780,
        "wires": [
            [
                "aaf53e37.2d85f"
            ]
        ]
    },
    {
        "id": "70382e69.a04c1",
        "type": "template",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cdc{{payload}}0",
        "output": "str",
        "x": 1240,
        "y": 900,
        "wires": [
            [
                "58ef68.0157e098"
            ]
        ]
    },
    {
        "id": "c3e040bb.76c39",
        "type": "switch",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1000",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "1000",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 840,
        "wires": [
            [
                "ee45701e.d8c13"
            ],
            [
                "70382e69.a04c1"
            ]
        ]
    },
    {
        "id": "58ef68.0157e098",
        "type": "serial out",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "serial": "8c24bfad.44f12",
        "x": 1410,
        "y": 900,
        "wires": []
    },
    {
        "id": "ff791a79.842fd8",
        "type": "debug",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "5fae0171.f5361",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Corrente de Desligamento Atingida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "9eb1504b.f8bea",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Perda de Energia",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 420,
        "wires": [
            [
                "5be0e29a.007c4c"
            ]
        ]
    },
    {
        "id": "b6ed42f.73713c",
        "type": "ui_led",
        "z": "ab424ef4.2f2e1",
        "order": 7,
        "group": "f9c34dde.1e2f4",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "98bd6f3c.e3d33",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 520,
        "wires": [
            [
                "b6ed42f.73713c"
            ]
        ]
    },
    {
        "id": "a89d8ff4.35e54",
        "type": "change",
        "z": "ab424ef4.2f2e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 560,
        "wires": [
            [
                "b6ed42f.73713c"
            ]
        ]
    },
    {
        "id": "8c24bfad.44f12",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]