Etapa do Aniversário do Diogo/flows.json
[
    {
        "id": "7df55cff.a95044",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "a0ba2847.07a018",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 290,
        "y": 420,
        "wires": []
    },
    {
        "id": "a5534050.95069",
        "type": "ui_button",
        "z": "7df55cff.a95044",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Ativar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "onn0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "a0ba2847.07a018"
            ]
        ]
    },
    {
        "id": "ef6471d5.2ad1c",
        "type": "ui_button",
        "z": "7df55cff.a95044",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "off0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "53b80433.ca691c"
            ]
        ]
    },
    {
        "id": "53b80433.ca691c",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 290,
        "y": 480,
        "wires": []
    },
    {
        "id": "31bbb4ab.42e69c",
        "type": "ui_button",
        "z": "7df55cff.a95044",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Emergência",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "eme0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "cf8b8be1.e5d578"
            ]
        ]
    },
    {
        "id": "cf8b8be1.e5d578",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 290,
        "y": 540,
        "wires": []
    },
    {
        "id": "2bbb4f77.cd56d",
        "type": "ui_slider",
        "z": "7df55cff.a95044",
        "name": "",
        "label": "Rampa de Subida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "513561ce.525f"
            ]
        ]
    },
    {
        "id": "4ca336a5.01bd08",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "5a7d7607.ca2948",
        "type": "serial in",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "46c8d62c.618128",
                "4292ecbe.587dc4"
            ]
        ]
    },
    {
        "id": "a01b5701.a5e858",
        "type": "ui_text",
        "z": "7df55cff.a95044",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Operação",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "46c8d62c.618128",
        "type": "switch",
        "z": "7df55cff.a95044",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "EMERG",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDS",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "RDD",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "mA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "a32dabae.f366b8"
            ],
            [
                "f2478a09.81d958"
            ],
            [
                "ec188681.515978"
            ],
            [
                "f6bc06e.275def8"
            ],
            [
                "5f5b3e92.a4eac"
            ],
            [
                "56cc7414.93dd3c"
            ]
        ]
    },
    {
        "id": "f2478a09.81d958",
        "type": "change",
        "z": "7df55cff.a95044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Desligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "a01b5701.a5e858"
            ]
        ]
    },
    {
        "id": "ec188681.515978",
        "type": "change",
        "z": "7df55cff.a95044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Modo de Emergência",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "a01b5701.a5e858"
            ]
        ]
    },
    {
        "id": "a32dabae.f366b8",
        "type": "change",
        "z": "7df55cff.a95044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Operando",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 180,
        "wires": [
            [
                "a01b5701.a5e858"
            ]
        ]
    },
    {
        "id": "4292ecbe.587dc4",
        "type": "debug",
        "z": "7df55cff.a95044",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f229445.d9f09c",
        "type": "debug",
        "z": "7df55cff.a95044",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "390608ce.f11658",
        "type": "template",
        "z": "7df55cff.a95044",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ram{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "4ca336a5.01bd08",
                "6f229445.d9f09c"
            ]
        ]
    },
    {
        "id": "c25a3e58.4317",
        "type": "template",
        "z": "7df55cff.a95044",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rap{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 720,
        "wires": [
            [
                "e3a1a56a.3b89b8"
            ]
        ]
    },
    {
        "id": "513561ce.525f",
        "type": "switch",
        "z": "7df55cff.a95044",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "390608ce.f11658"
            ],
            [
                "c25a3e58.4317"
            ]
        ]
    },
    {
        "id": "e3a1a56a.3b89b8",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "3f6fc5a1.4662aa",
        "type": "ui_slider",
        "z": "7df55cff.a95044",
        "name": "",
        "label": "Rampa de Descida",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "5",
        "max": "50",
        "step": 1,
        "x": 110,
        "y": 860,
        "wires": [
            [
                "e9323d5.63fa5c"
            ]
        ]
    },
    {
        "id": "56cc7414.93dd3c",
        "type": "ui_text",
        "z": "7df55cff.a95044",
        "group": "f9c34dde.1e2f4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Corrente do Motor:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "e8727c30.dabec",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "fa1ccf5b.7ada8",
        "type": "template",
        "z": "7df55cff.a95044",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rad{{payload}}00",
        "output": "str",
        "x": 480,
        "y": 800,
        "wires": [
            [
                "e8727c30.dabec"
            ]
        ]
    },
    {
        "id": "1eb6d81a.920e18",
        "type": "template",
        "z": "7df55cff.a95044",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "rpd{{payload}}000",
        "output": "str",
        "x": 480,
        "y": 920,
        "wires": [
            [
                "f3ac43f.2f34fc"
            ]
        ]
    },
    {
        "id": "e9323d5.63fa5c",
        "type": "switch",
        "z": "7df55cff.a95044",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "fa1ccf5b.7ada8"
            ],
            [
                "1eb6d81a.920e18"
            ]
        ]
    },
    {
        "id": "f3ac43f.2f34fc",
        "type": "serial out",
        "z": "7df55cff.a95044",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "f6bc06e.275def8",
        "type": "change",
        "z": "7df55cff.a95044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Subida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "a01b5701.a5e858"
            ]
        ]
    },
    {
        "id": "5f5b3e92.a4eac",
        "type": "change",
        "z": "7df55cff.a95044",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rampa de Descida",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "a01b5701.a5e858"
            ]
        ]
    },
    {
        "id": "772572be.6b863c",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]