Soft Starter/Testes Iniciais/flows.json
[
    {
        "id": "9329587d.aa1db8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "ea84216b.ff00a",
        "type": "serial out",
        "z": "9329587d.aa1db8",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7f0b190.ac79a",
        "type": "ui_button",
        "z": "9329587d.aa1db8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Ativar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "onn0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "ea84216b.ff00a",
                "57c6af29.5e8c6"
            ]
        ]
    },
    {
        "id": "adc67b01.b83468",
        "type": "ui_button",
        "z": "9329587d.aa1db8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "off0000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "a42d0d2f.81091",
                "edf6d8bf.02bf48"
            ]
        ]
    },
    {
        "id": "a42d0d2f.81091",
        "type": "serial out",
        "z": "9329587d.aa1db8",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "c50af1a5.2f168",
        "type": "ui_led",
        "z": "9329587d.aa1db8",
        "order": 2,
        "group": "f9c34dde.1e2f4",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "57c6af29.5e8c6",
        "type": "change",
        "z": "9329587d.aa1db8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "c50af1a5.2f168"
            ]
        ]
    },
    {
        "id": "edf6d8bf.02bf48",
        "type": "change",
        "z": "9329587d.aa1db8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 180,
        "wires": [
            [
                "c50af1a5.2f168"
            ]
        ]
    },
    {
        "id": "c2126c7.de6d19",
        "type": "ui_text",
        "z": "9329587d.aa1db8",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "25ef1ae5.bc8056",
        "type": "serial in",
        "z": "9329587d.aa1db8",
        "name": "",
        "serial": "772572be.6b863c",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "c2126c7.de6d19"
            ]
        ]
    },
    {
        "id": "772572be.6b863c",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]